@model IEnumerable<Project.Model.Models.Content>

@{
    ViewBag.Title = "Admin Area";
}

<h2>Admin Area</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Html)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XmlConfigId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folder.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Html)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XmlConfigId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folder.Name)
        </td>
        <td>
        </td>
    </tr>
}

</table>
